@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#excuse{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bold;
    border: 0 auto;
}